.title {
    width: 750px;
    height:125px;
    border: 3px solid green;
    padding: 10px;
    text-align: center;
    background-color: white;
    cursor:pointer;
    font-size: 25px;
  }
  .container {
    background-color: beige;
    position: fixed;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Roboto', sans-serif;
  }

 .logo {

    width: 15rem;
    height: 15rem;
    position:absolute;
    top: -400px;
    left: -600px;

 }